workflow.json
{
    "name": "CutOpt PRO - Demo Talep Bildirimi",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "demo-request",
                "options": {}
            },
            "id": "093b34ee-5a42-4f13-8fea-a4f197f9d092",
            "name": "Demo Talebi Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                160,
                16
            ],
            "webhookId": "cutopt-demo-request"
        },
        {
            "parameters": {
                "sendTo": "info@cutopro.com",
                "subject": "={{ 'Yeni Demo Talebi: ' + $json.body.company }}",
                "message": "={{ '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4;font-family:Arial,Helvetica,sans-serif;\"><tr><td align=\"center\" style=\"padding:20px 0;\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;\"><tr><td style=\"padding:32px 40px 28px 40px;\"><h2 style=\"color:#1e40af;font-size:22px;margin:0 0 6px 0;\">Yeni Demo Talebi</h2><p style=\"color:#555555;font-size:14px;margin:0 0 24px 0;\">CutOpt PRO web sitesinden yeni bir demo talebi geldi.</p><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;\"><tr style=\"background-color:#eff6ff;\"><td style=\"padding:11px 16px;font-weight:bold;color:#1e40af;font-size:14px;width:140px;\">Ad Soyad</td><td style=\"padding:11px 16px;color:#333333;font-size:14px;\">' + $('Demo Talebi Webhook').item.json.body.name + '</td></tr><tr><td style=\"padding:11px 16px;font-weight:bold;color:#1e40af;font-size:14px;\">E-posta</td><td style=\"padding:11px 16px;font-size:14px;\"><a href=\"mailto:' + $('Demo Talebi Webhook').item.json.body.email + '\" style=\"color:#1e40af;text-decoration:none;\">' + $('Demo Talebi Webhook').item.json.body.email + '</a></td></tr><tr style=\"background-color:#eff6ff;\"><td style=\"padding:11px 16px;font-weight:bold;color:#1e40af;font-size:14px;\">Sirket</td><td style=\"padding:11px 16px;color:#333333;font-size:14px;\">' + $('Demo Talebi Webhook').item.json.body.company + '</td></tr><tr><td style=\"padding:11px 16px;font-weight:bold;color:#1e40af;font-size:14px;\">Telefon</td><td style=\"padding:11px 16px;color:#333333;font-size:14px;\">' + ($('Demo Talebi Webhook').item.json.body.phone || 'Belirtilmedi') + '</td></tr><tr style=\"background-color:#eff6ff;\"><td style=\"padding:11px 16px;font-weight:bold;color:#1e40af;font-size:14px;\">Tarih</td><td style=\"padding:11px 16px;color:#333333;font-size:14px;\">' + ($('Demo Talebi Webhook').item.json.body.date ? $('Demo Talebi Webhook').item.json.body.date.substring(0,10) : '') + '</td></tr></table><div style=\"text-align:center;margin:28px 0 8px 0;\"><a href=\"https://docs.google.com/spreadsheets/d/19xsl5f1JZazfQUN_IvSr7RElfFKwqcg5pSVtNtA7zuE/edit?usp=sharing\" style=\"background-color:#1e40af;color:#ffffff;text-decoration:none;padding:13px 32px;border-radius:6px;font-weight:bold;font-size:15px;display:inline-block;\">Google Tablolarda Gor</a></div><p style=\"text-align:center;color:#9ca3af;font-size:12px;margin:16px 0 0 0;\">CutOpt PRO - Otomatik Bildirim Sistemi</p></td></tr></table></td></tr></table>' }}",
                "options": {}
            },
            "id": "d34db4e0-534b-4ff6-bb94-229c2165456a",
            "name": "Email Bildirimi Gonder",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                400,
                -208
            ],
            "webhookId": "e228bbeb-999a-438d-ba22-d81b8905ac9a",
            "credentials": {
                "gmailOAuth2": {
                    "id": "LcdF1dBEgWuCMoqj",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "sendTo": "={{ $json.body.email }}",
                "subject": "CutOpt PRO - Demo Surumunuz Hazir",
                "message": "={{ '<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4;font-family:Arial,Helvetica,sans-serif;\"><tr><td align=\"center\" style=\"padding:20px 0;\"><table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;\"><tr><td style=\"padding:40px 40px 30px 40px;\"><p style=\"color:#333333;font-size:15px;line-height:1.6;margin:0 0 16px 0;\">Sayin ' + $json.body.name + ',</p><p style=\"color:#333333;font-size:15px;line-height:1.6;margin:0 0 16px 0;\">Demo talebinizi aldik, tesekkur ederiz.</p><p style=\"color:#333333;font-size:15px;line-height:1.6;margin:0 0 24px 0;\">CutOpt PRO&#39;nun demo surumunu asagidaki baglantidan indirebilirsiniz. Demo surumunu inceledikten sonra gorus ve geri bildirimlerinizi bizimle paylasmanizi bekliyoruz.</p><div style=\"text-align:center;margin:0 0 24px 0;\"><a href=\"https://drive.google.com/drive/folders/1822NX1havvsBwi0WhpBb1Oupuv6p_m6-?usp=sharing\" style=\"background-color:#2563eb;color:#ffffff;text-decoration:none;padding:14px 32px;border-radius:6px;font-weight:bold;font-size:15px;display:inline-block;\">Demo Surumunu Indir</a></div><p style=\"color:#333333;font-size:15px;line-height:1.6;margin:0 0 16px 0;\">Program hakkinda daha fazla bilgi edinmek ve satin alma islemleri icin asagidaki baglantidan internet sitemizi ziyaret edebilirsiniz.</p><div style=\"text-align:center;margin:0 0 30px 0;\"><a href=\"https://cutopro.com\" style=\"color:#2563eb;text-decoration:none;padding:10px 24px;border-radius:6px;border:1px solid #2563eb;font-size:14px;display:inline-block;\">cutopro.com</a></div></td></tr><tr><td style=\"background-color:#f8f9fa;padding:24px 40px;border-top:1px solid #e5e7eb;\"><p style=\"margin:0 0 2px 0;font-size:18px;font-weight:bold;\"><span style=\"color:#1e3a8a;\">CutOpt </span><span style=\"color:#2563eb;\">PRO</span></p><p style=\"margin:0 0 16px 0;font-size:10px;color:#9ca3af;letter-spacing:1.5px;text-transform:uppercase;\">OPTIMIZASYON COZUMLERI</p><p style=\"margin:0 0 4px 0;font-size:13px;color:#6b7280;\">✉ info@cutopro.com</p><p style=\"margin:0 0 16px 0;font-size:13px;\"><a href=\"https://cutopro.com\" style=\"color:#2563eb;text-decoration:none;\">cutopro.com</a></p><a href=\"https://cutopro.com\" style=\"background-color:#2563eb;color:#ffffff;text-decoration:none;padding:10px 20px;border-radius:6px;font-size:13px;display:inline-block;\">Kesim optimizasyonunda akilli cozum</a></td></tr></table></td></tr></table>' }}",
                "options": {}
            },
            "id": "6d2b6b20-92b2-46a6-b81a-ba4cf6bff565",
            "name": "Otomatik Yanit",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                400,
                16
            ],
            "webhookId": "46acfb32-06f4-4cd8-976d-a81d90cb9ca2",
            "credentials": {
                "gmailOAuth2": {
                    "id": "LcdF1dBEgWuCMoqj",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "amount": 3,
                "unit": "days"
            },
            "id": "4a1e7d8f-9c0b-4d2a-8e1f-3c5b7a9d0e2f",
            "name": "Wait 3 Gun",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                600,
                16
            ]
        },
        {
            "parameters": {
                "sendTo": "={{ $json.body.email }}",
                "subject": "CutOpt PRO - Demo Deneme Firsatiniz Oldu mu?",
                "message": "={{ '<p>Sayin ' + $json.body.name + ',</p><p>CutOpt PRO demo surumumuzu indirdiginizden bu yana birkac gun gecti. Demoyu deneme firsatiniz oldu mu?</p><p>Herhangi bir sorunuz varsa veya yardima ihtiyaciniz olursa cekinmeyin. Size yardimci olmaktan mutluluk duyariz.</p><p>Saygilarimizla,</p><p>CutOpt PRO Ekibi</p>' }}",
                "options": {}
            },
            "id": "5b2f8e9c-0d1a-5e3b-9f2c-4d6e8b0a1f3c",
            "name": "Takip E-postasi 1",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                800,
                16
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "LcdF1dBEgWuCMoqj",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "amount": 4,
                "unit": "days"
            },
            "id": "6c3a9f0d-1e2b-6f4c-a0d3-5e7f9c1b2d4a",
            "name": "Wait 4 Gun",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1000,
                16
            ]
        },
        {
            "parameters": {
                "sendTo": "={{ $json.body.email }}",
                "subject": "CutOpt PRO - Canli Demo Planlayalim mi?",
                "message": "={{ '<p>Sayin ' + $json.body.name + ',</p><p>CutOpt PRO demo surumumuzle ilgili deneyiminiz nasil gidiyor? Akliniza takilan bir soru var mi?</p><p>Urunumuzun tum ozelliklerini size ozel olarak tanitmak ve sorularinizi yanitlamak icin canli bir demo planlayabiliriz.</p><p>Uygun oldugunuz bir zamani bize bildirin!</p><p>Saygilarimizla,</p><p>CutOpt PRO Ekibi</p>' }}",
                "options": {}
            },
            "id": "7d4b0a1e-2f3c-7a5d-b1e4-6f8a0c2b3e5d",
            "name": "Takip E-postasi 2",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                1200,
                16
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "LcdF1dBEgWuCMoqj",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://script.google.com/macros/s/AKfycbzdu2aq4EyxrzLIJwxoLacZbUZAIzi7QJbd4x9dervm2hpCJ5CUZZiTPwVrZ81lrrqEIA/exec",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ {name: $json.body.name, email: $json.body.email, company: $json.body.company, phone: $json.body.phone || 'Belirtilmedi', date: $json.body.date} }}",
                "options": {}
            },
            "id": "025b5a00-64a9-4b7f-85eb-5e6a90f32be8",
            "name": "Google Sheets Kaydet",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                400,
                240
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.count % 10 === 0 }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "391c5395-69c1-4cfd-a0e7-c82e1d7f5307",
            "name": "Milestone Kontrolu",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                640,
                240
            ]
        },
        {
            "parameters": {
                "sendTo": "zekeriya.karaca@outlook.com",
                "subject": "={{ 'Tebrikler! ' + $json.count + ' Demo Talebi Alindi' }}",
                "message": "={{ '<div style=\"font-family:Arial;max-width:600px;margin:0 auto;background:#f9f9f9;padding:24px;\"><h2 style=\"color:#15803d;\">Milestone: ' + $json.count + ' Demo Talebi!</h2><p>CutOpt PRO sitesine toplam <strong>' + $json.count + '</strong> demo talebi ulasti.</p></div>' }}",
                "options": {}
            },
            "id": "1bf88d05-298e-4d35-b77e-7a773345ba1b",
            "name": "Milestone Bildirimi",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                880,
                144
            ],
            "webhookId": "c2492d6d-22e3-481b-a983-4808c024adfd",
            "credentials": {
                "gmailOAuth2": {
                    "id": "LcdF1dBEgWuCMoqj",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const email = $json.body.email;\nlet score = 0;\n\nconst freeEmailDomains = [\n  \"gmail.com\",\n  \"hotmail.com\",\n  \"outlook.com\",\n  \"yahoo.com\",\n  \"aol.com\",\n  \"icloud.com\",\n  \"protonmail.com\",\n  \"yandex.com\",\n  \"mail.com\",\n  \"gmx.com\"\n];\n\nconst domain = email.split('@')[1];\n\nif (domain && !freeEmailDomains.includes(domain.toLowerCase())) {\n  score = 5; // Corporate email\n} else {\n  score = 1; // Free email or invalid domain\n}\n\nreturn [{ json: { ...$json, leadScore: score } }];"
            },
            "id": "8e5c1b2f-3d4a-8b6e-c2f5-7a9d0e1f2b3c",
            "name": "Lead Puanlama",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                600,
                340
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.leadScore >= 3 }}",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "9f6d2c3a-4e5b-9c7f-d3a6-8b0c1d2e3f4a",
            "name": "Yuksek Puanli Lead Kontrolu",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                800,
                340
            ]
        },
        {
            "parameters": {
                "channel": "C0AP9JR85A6",
                "message": "={{ 'Yeni Yuksek Puanli Demo Talebi!\\nAd: ' + $json.name + '\\nE-posta: ' + $json.email + '\\nSirket: ' + $json.company + '\\nTelefon: ' + ($json.phone || 'Belirtilmedi') + '\\nLead Puani: ' + $json.leadScore }}",
                "text": ":rocket: *Yeni Yuksek Puanli Lead!* :rocket:\n\n*Ad Soyad:* {{$node[\"Demo Talebi Webhook\"].json[\"name\"]}}\n*E-posta:* {{$node[\"Demo Talebi Webhook\"].json[\"email\"]}}\n*Sirket:* {{$node[\"Demo Talebi Webhook\"].json[\"company\"]}}\n*Telefon:* {{$node[\"Demo Talebi Webhook\"].json[\"phone\"]}}\n\n*Puan:* {{$node[\"Lead Puanlama\"].json[\"score\"]}}"
            },
            "id": "a0e7d3f4-b1c2-a8d9-e5f6-b0c1d2e3f4a5",
            "name": "Slack Bildirimi",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 1,
            "position": [
                1000,
                340
            ],
            "credentials": {
                "slackApi": {
                    "id": "Slack-Sumbul"
                }
            }
        },
        {
            "parameters": {
                "resource": "label"
            },
            "id": "f56ec5f1-745c-4ff7-cc05-440d3276567b",
            "name": "Etiketleri Listele",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                380,
                -200
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "LcdF1dBEgWuCMoqj",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "\nconst targetNames = ['DEMO TALEPLERI', 'DEMO TALEPLERI'];\nconst targetId = 'Label_7227687291741294476';\nfor (const item of $input.all()) {\n  const name = (item.json.name || \"\").toUpperCase();\n  const idValue = item.json.id || \"\";\n  if (targetNames.includes(name) || idValue === targetId || name.includes(\"DEMO TALEPLER\")) {\n    return [item.json];\n  }\n}\nconst found = $input.all().map(i => i.json.name).join(', ');\nthrow new Error(`Label 'DEMO TALEPLERI' not found. Found: ${found}`);\n",
                "mode": "runOnceForAllItems"
            },
            "id": "g67ec5f1-845c-4ff7-cc05-550d3276567b",
            "name": "Etiket ID Bul",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                580,
                -200
            ]
        },
        {
            "parameters": {
                "resource": "message",
                "operation": "addLabels",
                "messageId": "={{ $node[\"Email Bildirimi Gonder\"].json[\"id\"] }}",
                "labelIds": [
                    "={{ $node[\"Etiket ID Bul\"].json[\"id\"] }}"
                ]
            },
            "id": "e45ec5f1-645c-5ff7-cc05-330d3276567b",
            "name": "Demo Talebi Etiketle",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.2,
            "position": [
                780,
                -200
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "LcdF1dBEgWuCMoqj",
                    "name": "Gmail account"
                }
            }
        }
    ],
    "connections": {
        "Demo Talebi Webhook": {
            "main": [
                [
                    {
                        "node": "Email Bildirimi Gonder",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Otomatik Yanit",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Google Sheets Kaydet",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Milestone Kontrolu",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Lead Puanlama",
                        "type": "main",
                        "index": 0
                    }
                ]
            ],
            "output_0": [
                [
                    {
                        "node": "Wait 3 Gun",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 3 Gun": {
            "main": [
                [
                    {
                        "node": "Takip E-postasi 1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Takip E-postasi 1": {
            "main": [
                [
                    {
                        "node": "Wait 4 Gun",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 4 Gun": {
            "main": [
                [
                    {
                        "node": "Takip E-postasi 2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Otomatik Yanit": {
            "main": [
                [
                    {
                        "node": "Wait 3 Gun",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Wait 3 Gun",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Sheets Kaydet": {
            "main": [
                [
                    {
                        "node": "Milestone Kontrolu",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Milestone Kontrolu": {
            "main": [
                [
                    {
                        "node": "Milestone Bildirimi",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lead Puanlama": {
            "main": [
                [
                    {
                        "node": "Yuksek Puanli Lead Kontrolu",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Yuksek Puanli Lead Kontrolu": {
            "main": [
                [
                    {
                        "node": "Slack Bildirimi",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Email Bildirimi Gonder": {
            "main": [
                [
                    {
                        "node": "Etiketleri Listele",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Etiketleri Listele": {
            "main": [
                [
                    {
                        "node": "Etiket ID Bul",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Etiket ID Bul": {
            "main": [
                [
                    {
                        "node": "Demo Talebi Etiketle",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}